/*Tags Style*/

/* resets */

/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    color: rgba(22, 21, 21, 0.906);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

/* Paragraph */
p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i {
    font-style: italic;
}

em {
    text-decoration: underline;
}

strong {
    font-weight: 700;
}

/* links */

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:visited {
    color: dimgray;
}

a:hover {
    color: darkkhaki;
}

blockquote,
q,
cite {
    color: gray;
}

/* colors */

.blue-text {
    color: cadetblue;
}

.green-text {
    color: mediumseagreen;
}

.gray-text {
    color: silver;
}
